<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>吐槽||比喻</title>
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    section {
      border-top: 3px solid;
    }
  </style>
</head>
<body>
  <strong>比喻||吐槽</strong>
  <section>
    <%= content %>
  </section>
</body>
</html>